# LLM
APP_GEMINI_API_KEY=your-gemini-api-key
APP_GEMINI_MODEL=gemini-2.0-flash
APP_TEMPERATURE=0.7

# MongoDB
APP_MONGODB_URL=mongodb://localhost:27017
APP_MONGODB_DB_NAME=cto_agent

# App
APP_NAME="Startup CTO Agent API"
APP_DEBUG=false
APP_API_V1_PREFIX=/api/v1
